@charset "UTF-8";

#regForm {
	width: 85vw;
}

#viewPatient {
	width: 60vw;
}

.proj {
	height: 15vh;
}

#notebox {
	height: 25vh;
	overflow:auto;
}

.doctorInfo {
	height: 9vh;
	vertical-align: middle;
}

#searchBar {
	width: 35vw;
}

#chart {
	margin: auto;
	width: 50vw;
}

#switch {
	width: 5vw;
	height: 2vw;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-bg-color {
	background-color: darkorange !important;
	color:green;
}

#myTable_length {
	color:white !important;
	margin-bottom: 10px;
}

#myTable_length select {
	color:white !important;
	background-color: black;
}

#myTable_filter {
	color: white !important;
	margin-bottom: 10px;
}

#myTable_info {
	color: white !important;
}

#myTable_paginate {
	color: white !important;
}