@charset "UTF-8";

#regForm {
	width: 85vw;
}

#viewPatient {
	width: 60vw;
}

.proj {
	height: 15vh;
}

#notebox {
	height: 25vh;
	overflow:auto;
}

.doctorInfo {
	height: 9vh;
	vertical-align: middle;
}

#searchBar {
	width: 35vw;
}

#chart {
	margin: auto;
	width: 50vw;
}

#switch {
	width: 5vw;
	height: 2vw;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-bg-color {
	background-color: #ffa31a !important;
	color:green;
}

#myTable_length {
	margin-bottom: 10px;
}

#myTable_length select {
	color:white !important;
	background-color: dimgrey;
}

#myTable_filter {
	margin-bottom: 10px;
}

/*#myTable_info {
	color: white !important;
}

#myTable_paginate {
	color: white !important;
}*/
.game-pic {
	max-width: 300px;
	min-width: 150px;
	width: 10vw;
}
.custom-bottom-border {
	border-bottom-color: darkorange;
}

#blankProfilePic {
  max-width: 100px;
	width: 10vw;
	border-radius: 50%;
}

#profilePic {
	max-width: 200px;
	width: 100%;
	height: auto;
	border-radius: 50%;
}